html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

#map_frame {
    height: 100%;
    width: 75%;
}

#controls {
    padding: 1em;
    background-color: ghostwhite;
    height: 100%;
    width: 25%;
}

#search {
    padding: 2%;
    display: flex;
    background-color: white;
    flex-direction: column;
}

button {
    margin: 3%;
}

.separate{
    padding: 2%;
}

.customBox {
    background: white;
    border: 2px solid black;
    position: absolute;
    padding: 5px;
}
